body {
    background-color: black;
    color: antiquewhite
}

a:link {
    color: grey;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: lightgrey;
}

a:active {
    color: white;
}

.jumbotron {
    background-color: rgba(10, 10, 10, 0)
}

.logoback {
    background: radial-gradient(circle, #0F0F0F, 60%, black);
}

.logo{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.gap {
    height: 6em;
}