<html>

<head>
    {{ partial "headcontent.html" . }}
</head>

<body>

    <div>
        {{ partial "header.html" . }}
    </div>
    <div class="gap"></div>
    <div class="container">
        {{ .Content }}

        <ul class="contents">
        {{ range .Paginator.Pages }}
            <li><a href="{{.Permalink}}">{{.Title}}</li>
        {{ end }}
    </div>
    <div class="gap"></div>
    <div>
        {{ partial "footer.html" . }}
    </div>
    {{ partial "tailcontent.html" . }}
</body>

</html>